$color-primary: #2288bb;
$color-secondary: #115599;
$color-pale: #ddd;
$color-bg: #eee;
$color-black-transparent: rgba(0, 0, 0, 0.5);

h1 {
    color: white;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h2 {
    color: $color-secondary;
}
body {
    background-color: $color-bg;
    padding: 20px;
    line-height: 1.5em;
    border-radius: 10px;
    font-family: 'Open Sans', Helvetica, sans-serif
}
.jumbotron {
    background-color: $color-primary;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}
.tab-content {
    border: 1px #ddd solid;
    border-top: 0;
    padding: 30px;
    background-color: white;
}
.nav-tabs > li > a:hover {
    background-color: $color-pale;
}

.page-header {
    border-bottom: 1px solid $color-pale;
    margin: 20px 0;
}