h1 {
  color: white;
  text-align: center;
  font-family: 'Merriweather', serif; }

h3 {
  color: #115599; 
  font-weight: 500; }

body {
  background-color: #eee;
  line-height: 1.5em;
  border-radius: 10px;
  font-family: 'Open Sans', Helvetica, sans-serif; }

.container {
  padding: 0; }

.jumbotron {
  background-color: #2288bb;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px; }

.tab-content {
  border: 1px #ddd solid;
  border-top: 0;
  padding: 8px;
  background-color: white; }

.nav-tabs > li > a:hover {
  background-color: #ddd; }

.page-header {
  border-bottom: 1px solid #ddd;
  margin: 30px 0 15px; }

.dl-btn {
  margin: 0, 80px;
  padding: 0, 80px; }
